@charset "utf-8";

:root {
  --red: #ff4545b0;
  --black: #414141d0;
  --brown: #ff89a7;
  --beige: #fff1e5;
}

@import url('./reset.scss');
@import url('./font.scss');
body {
  font-family: 'NanumGothic';
}
